*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    background-color: #24252A;
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    cursor: pointer;
    font-size: 1.5em;
    color: #edf0f1;
    font-weight: 500;
    font-style: italic;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

header button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.hero{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.hero .container{
    width: 75%;
    justify-content: center;
}

.hero .container-img-hero{
    width: 25%;
    justify-content: center;
}

.hero h1{
    font-size: 2.5em;
    font-weight: 500;
    color: #edf0f1;
}

.hero h3{
    font-size: 1.7;
    font-weight: 400;
    margin-bottom: 18px;
    color: #edf0f1;
}

.hero h4{
    font-size: 1.5;
    font-weight: 300;
    color: #a2a2a2;    
}

.color-acento{
    color: #0088a9;
}

.input-container form{
    width: 70%;
    max-width: 100%;
    position: relative;
}

.input-container form input:first-child{
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 90px 16px 15px;
    border: 2px solid #0088a9;
    border-radius: 30px;
    color: #edf0f1;
}

.input-container form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #0088a9;
    padding: 12px 30px;
    cursor: pointer;
    top: 6px;
    right: -102px;
    color: #edf0f1;
}

.input-container form input:hover:last-child{
    background-color: rgba(0, 136, 169, 0.8);
}

.about-me{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



